* {
    box-sizing: border-box;
    font-family: sans-serif ;
}

.login-page .login-logo
{
    width: 330px;
    max-width: 80%;
    height: auto;
    margin: 1rem;
}

.login-page main
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-height: calc(100vh - 80px);
}