body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 375px;


    padding-top: 80px;
}


.login-logo {
    width: 330px;
    max-width: 80%;
    height: auto;
    margin-bottom: 1rem;

}

/* Navigation */

.navbar {
    height: 80px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
    height: 100%;
}

nav a {
    text-decoration: none;
    color: #1a73e8;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* ---------- Footer ---------- */

footer {
    flex: 0 0 auto;
    font-size: 0.9rem;
}

footer a {
    float: right;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* ---------- Mobile ---------- */

@media (max-width: 768px) {

    header {
        flex-direction: column;
        align-items: flex-start;
        gap: .75rem;
    }

    nav ul {
        flex-wrap: wrap;
    }

    main {
        padding: 1rem;
    }
}
